flask==3.0.3
flask-socketio==5.3.6
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
torch==2.3.1
torchvision==0.18.1
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0
groq==0.9.0
python-dotenv==1.0.1
ucimlrepo==0.0.7
scipy==1.13.1
imbalanced-learn==0.12.3
shap==0.45.1
fpdf2==2.7.9
gunicorn==22.0.0
eventlet==0.36.1
requests==2.32.3
